.headerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blockButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    height: 20px;
    margin-inline: 10px;
}