.scheduleButton{
    height: 60px;
    padding-left: 10px;
    margin-top: 10px;
    align-items: center;
    display: grid;
    margin-inline: 10px;
}
.deleteIcon{
    height: 30px;
    margin-right: 10px;
}
.editableButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexDiv{
    display: flex;
}
.profPhoto{
    
}
.number{
    margin-top: 5px;
}
.telephoneLink{
    color: #DED290;
    text-decoration: underline !important;
    text-decoration: none;
}